.app-container{
  display: flex;
}
.content{
  width: 100%;
}
.sidebar{
  min-height: 100vh;
  }
.post-card{
  margin: 18px 25px;
  width: 29rem;
}
.hashtag{
margin: 0 4px;
}
.reactions{
  margin: 12px 0 0 0;
}
.Createpost{
  width: 80%;
  margin-left: 10%;
  margin-top: 25px;
}